<table>
    <thead>
        <tr>
            <th width="50">291</th>
            <th width="150">292</th>
            <th width="350">+</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>