<fieldset>
    <input type="hidden" name="jcartToken" value="128d60766c6fff377a803451179fe02c">
    <table border="1">
        <thead>
        <tr>
            <th colspan="3">
                <strong id="jcart-title">Panier</strong> (1 Item)
            </th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th colspan="3">
                <input type="submit" id="jcart-checkout" name="jcartCheckout" class="jcart-button" value="checkout">
                <span id="jcart-subtotal">Subtotal: <strong></strong></span>
            </th>
        </tr>
        </tfoot>
        <tbody>
        <tr>
            <td class="jcart-item-qty">
                <input name="jcartItemId[]" type="hidden" value="3">
                <input id="jcartItemQty-3" name="jcartItemQty[]" size="2" type="text" value="1">
            </td>
            <td class="jcart-item-name">
                <a href="http://bing.com">Hockey Stick</a>
                <input name="jcartItemName[]" type="hidden" value="Hockey Stick">
            </td>
            <td class="jcart-item-price">
                <span>$33.25</span><input name="jcartItemPrice[]" type="hidden" value="33.25">
                <a class="jcart-remove" href="?jcartRemove=3">remove</a>
            </td>
        </tr>
        </tbody>
    </table>


</fieldset>