<div class="large-9 column">

    <div class="row" style="">
        <div class="imgRevues pull-right">
            <img id="BTP_img" src="{{ asset('img/revues/BTP_Gris.png') }}">
            <img id="Mat_img" src="{{ asset('img/revues/Mat_Gris.png') }}">
            <img id="Rail_img" src="{{ asset('img/revues/Rail_Gris.png') }}">
            <img id="Reseau_img" src="{{ asset('img/revues/Reseau_Gris.png') }}">
            <img id="TC_img" src="{{ asset('img/revues/TC_Gris.png') }}">
            <img id="B_img" src="{{ asset('img/revues/B_Gris.png') }}">
        </div>
    </div>

    <div class="large-8 column">
        <table class="hover">
            <thead>
                <tr>
                    <th width="50"></th>
                    <th width="150">Code</th>
                    <th width="350">Nom du fichier</th>
                    <th width="150">Source</th>
                    <th width="150">Date import</th>
                    <th width="150">Qte</th>
                </tr>
            </thead>
            <tbody>
            {% for fichier in fichiers %}

            <tr data-id="{{ fichier.id }}">
                <td></td>
                <td>{{ fichier.nomFichier }}</td>
                <td>{{ fichier.nomFamille }}</td>
                <td>{{ fichier.source }}</td>
                <td>{{ fichier.dateImp |date('d-m-Y') }}</td>
                <td>{{ fichier.qte }}</td>
            </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="large-4 column">
        <div ng-view></div>

        {#        <table>
                    <thead>

                    <tr>
                        <th width="50">291</th>
                        <th width="150">292</th>
                        <th width="350">+</th>
                    </tr>

                    </thead>
                    <tbody>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>#}
    </div>

</div>