<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/foundation.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{#
        <link rel="stylesheet" href="{{ asset('css/main.scss') }}" />
#}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body ng-app="MyApp">
    {% block topbar %}{% endblock %}
    <div class="container">
        <div class="row">
            <div class="large-12 columns">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
        {% block javascripts %}
            <script src="{{ asset('js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('js/vendor/foundation.min.js') }}"></script>
            <script src="{{ asset('js/vendor/angular.min.js') }}" ></script>
            <script src="{{ asset('js/vendor/angular-route.js') }}" ></script>
            <script src="{{ asset('js/vendor/app.angular.js') }}" ></script>
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
