{% extends "::base.html.twig" %}


{#{% block titlepage %}
    {% include "AppBundle:Title:title.html.twig" %}
{% endblock %}#}
{#{% block container %}
{% endblock %}#}
{% block topbar %}
    {% include "AppBundle:templates/head:topbar.html.twig" %}
{% endblock %}

{% block body %}

    {% include "AppBundle:templates/container:table_routage.html.twig" %}

{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}

